canvas {
  background: #4C5364;
  width: 100%;
  height: 100%;
}

body, html {
  height: 100%;
  margin: 0;
}

h1, h2 {
  font-family: Montserrat;
}

h3 {
  font-family: Montserrat;
  margin: 0;
  font-size: smaller;
  color: #4C5364;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  display: inline;
  margin-left: 0px;
  padding: 15px;
}

.key {
  padding: 0 10px;
  transition: background-color 0.15s ease-in-out;
}

#border {
  width: 30%;
  margin: 1.5%;
  border-bottom: 3px solid #D8D8D8;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

.btn:hover::before {
  opacity: 0.1;
}

.btn {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  font-family: Montserrat;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 15px;
}
